<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.full_name}}, Welcome to Bidding system - Let's get started!</title>
</head>

<body>
    Welcome, {{ user.full_name }}!
    <br>
    <br>
    We’re thrilled to have you on board.please start by adding your details:
    <br>
    {{ login_url }}
    <br>
    <br>
    If you have any questions, feel free to email our customer success team at contact@bidding.com.
    <br>
    <br>
    Thanks,
    <br>
    <br>
    Team Bidding System

</body>

</html>